@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>Kshitij</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/css/home.css" rel="stylesheet" />
</head>

<body>
   
    <div id="home">
        <div class="landing-text">
            <h1>KSHITIJ KAFLE</h1>
            <h3>Student, passionate about technology</h3>
           
        </div>
    </div>
    <div id="about" class="padding">
        <div class="container">
            <div style="float: left; width: 50%; " class="col-sn-6">
                <img src="~/img/kk.png" alt="">
            </div>
            <div style="float: right; width: 50%;" class="col-sn-6 text-center">
                <h2>All about me</h2>
                <p class="lead">i'm a student of CSIT (Computer Science and Information Technology). i love programming and logical things.</p>
            </div>
        </div>
    </div>
    <div id="fixed">

    </div>
 
    <footer id="contact" class="container-fluid text-center">
        <div class="row">
            <div style="float: left; width: 50%;" class="foot text-center">
                <h3>Contact Me</h3>
                <img src="telephone.svg" alt="">+977-9862059123
                <br>
                <img src="placeholder.svg" alt=""> Kathmandu, Nepal

            </div>
            <div style="float: right; width: 50%;" class="text-center">
                <h3>Connect</h3>
                <a href="https://www.facebook.com/kshitij.kafle.31" class="fa fa-facebook"></a>
                <a href="https://github.com/Kshitij-Kafle-123?fbclid=IwAR2tHRW0l9ZGUV97KVRnCnj_PO7WU3hX88X4b_-jP6Knu_LdofqIlOWgzbU"
                   class="fa fa-github"></a>
                <a href="https://www.linkedin.com/in/kshitij-kafle/" class="fa fa-linkedin"></a>
                <a href="twitter.com" class="fa fa-twitter"></a>
                <a href="https://www.instagram.com/kshitij_403.3/?hl=en" class="fa fa-instagram"></a>
                <a href="https://www.youtube.com/channel/UCnSPthRowQkDpoGPGRPuH0w/videos?view_as=subscriber" class="fa fa-youtube"></a>

            </div>
        </div>
        <div class="class">
            <i class="fa fa-copyright" aria-hidden="true"> kshitij kafle, 2021</i>

        </div>
    </footer>
</body>

